.page {
  display: flex;
  flex-direction: column;
  margin-left: 25rem;
  margin-right: 25rem;
}
.page-header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.page-inner-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5rem;
}
.page-content-header {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: aliceblue;
}

.page-banner-inner-header {
  display: flex;
  flex-direction: row;
  place-content: center;
  background-color: rgb(134, 153, 236);
  padding-bottom: 200px;
}
